/* START RESET */
body {
  -webkit-print-color-adjust: exact !important;
}
html {
  font-size: 16px; /* sets text size to 1 rem */
}

body {
  font-family: sans-serif;
  min-height: 2000px;
  padding-top: 5px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
}
/* END RESET */
